@media screen
and (device-width: 414px)
and (device-height: 736px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait){
    #logo{
        text-align: center;
    }

    #banner .caption{
        bottom: 50px;
        right: 30px;
    }

    #banner .caption h1{
        font-size: 25px;
    }

    #banner .caption h2{
        font-size: 17px;
    }

    .owl-theme .item{
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .owl-theme .owl-dots{
        left: 160px;
    }

    #team-leader .title h1{
        font-size: 40px;
    }

    #advantages .content h3{
        font-size: 50px;
    }

    #advantages .content span{
        font-size: 20px;
    }

    #contact-us .title h3{
        font-size: 50px;
    }

    #about-us .image1{
        height: 220px;
    }

    #about-us .content{
        border: 0px;
    }

    #about-us .content .image2{
        height: 350px;
    }

    #about-us .content .image2 .second:before{
        left: unset;
        right: 20px;
    }

    #about-us .content .image2 .second:after{
        left: unset;
        right: 0px;
    }

    #about-us .content .image2 .third:before{
        bottom: 60px;
        left: 141px;
        top: unset;
    }

    #about-us .content .image2 .third:after{
        bottom: 0px;
        left: 121px;
        top: unset
    }

    #gallery h2{
        font-size: 40px;
    }

    #slide2 .slide2 .owl-stage-outer{
        position: relative;
    }

    #slide2 .slide2 .owl-dots{
        bottom: 60px;
        left: 165px;
    }

    #slide2 .slide2 .owl-nav{
        height: 50px;
    }

    #slide2 .slide2 .owl-prev{
        width: 40px;
        height: 40px;
        top: 0px;
        left: 30px;
    }

    #slide2 .slide2 .owl-next{
        width: 40px;
        height: 40px;
        top: 0px;
        right: 30px;
    }

    #footer .top i{
        float: none;
        height: 0px;
    }
}

@media screen
and (device-width: 736px)
and (device-height: 414px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: landscape){
    #logo{
        margin-left: 130px;
    }

    #menu a{
        font-size: 17px;
    }

    #banner .caption{
        bottom: 50px;
        right: 30px;
    }

    #banner .caption h1{
        font-size: 35px;
    }

    #banner .caption h2{
        font-size: 24px;
    }

    .owl-theme .item{
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .owl-theme .owl-dots{
        left: 310px;
    }

    #team-leader .title h1{
        font-size: 40px;
    }

    #team-leader .title p{
        font-size: 18px;
    }

    #team-leader .content img{
        width: 500px;
    }

    #advantages .content h3{
        font-size: 50px;
    }

    #advantages .content span{
        font-size: 20px;
    }

    #contact-us .title h3{
        font-size: 50px;
    }

    #contact-us .title p{
        font-size: 22px;
    }

    #about-us .image1{
        height: 220px;
    }

    #about-us .content{
        border: 0px;
    }

    #about-us .content .image2{
        height: 350px;
    }

    #about-us .content .image2 .second:before{
        left: 205px;
    }

    #about-us .content .image2 .second:after{
        left: 185px;
    }

    #gallery h2{
        font-size: 40px;
    }

    #gallery p{
        font-size: 18px;
    }

    #slide2 .slide2 .owl-stage-outer{
        position: relative;
    }

    #slide2 .slide2 .owl-dots{
        bottom: 60px;
        left: 310px;
    }

    #slide2 .slide2 .owl-nav{
        height: 50px;
    }

    #slide2 .slide2 .owl-prev{
        width: 40px;
        height: 40px;
        top: 0px;
        left: 30px;
    }

    #slide2 .slide2 .owl-next{
        width: 40px;
        height: 40px;
        top: 0px;
        right: 30px;
    }

    #footer .top i{
        float: none;
        height: 0px;
    }
}