#logo {
    height: 120px;
    background: #ffffff;
    padding-top: 49px;
    padding-left: 63px;
}

#header #banner{
    height: 696px;
}

#banner div{
    height: 696px;
    background-repeat: no-repeat;
    background-size: cover;
}

.team-leader{
    padding-top: 281px;
    padding-bottom: 320px;
}

.team-leader .top div hr{
    width: 442px;
    margin-top: 40px;
    margin-bottom: 87px;
}

.team-leader .bottom{
    margin-top: 131px;
}

.team-leader .bottom .col{
    text-align: center;
    width: 448px;
}

.team-leader .bottom .name{
    margin-bottom: 55px;
}

.team-leader .bottom .name span{
    font-size: 30.56px;
}

.owl-controls {
    position: relative;
    top: -50px;
}

.team-leader{
    height: 1777px;
    background-color: #ffffff;
}

.advantages{
    height: 1464px;
    background-color: #ffffff;
}

.advantages .information{
    height: 340px;
    background-color: #1f3138;
}

.contact-us{
    background-color: #2a3e47;
    padding-bottom: 173px;
    padding-top: 308px;
}

.contact-us .title{
    margin-bottom: 69px;
}

.contact-us .form{
    margin-top: 87px;
}

.contact-us .form .line{
    margin-bottom: 30px;
}

.contact-us .form input{
    border: 0px;
    background: #2a3e47;
    border-bottom: 1px solid #b5b6b7;
    color: #7c7f80;
    border-radius: 0px;
}

.contact-us .form select{
    border: 0px;
    border-radius: 0px;
    background: #2a3e47;
    border-bottom: 1px solid #b5b6b7;
    color: #7c7f80;
}

.contact-us .form textarea{
    border: 0px;
    border-radius: 0px;
    background: #2a3e47;
    border-bottom: 1px solid #b5b6b7;
    color: #7c7f80;
}

.contact-us .form button{
    float: right;
    width: 210px;
    height: 50px;
    border-radius: 0px;
    border: 2px solid #623621;
    background: #89553b;
}

.about{
    height: 1265px;
    background-color: #fdfdfd;
}

.gallery{
    height: 1146px;
}

#slide div{
    height: 77px;
}

.slide .bottom{
    height: 77px;
    background: #d6d6d6;
}

.slide .top{
    height: 766px;
    background: #c0c7c9;
}

#footer{
    height: 387px;
}

#footer .top{
    height: 296px;
    background-color: #1b2c33;
}

#footer .bottom{
    height: 91px;
    background-color: #000000;
    padding-top: 36px;
}