#logo{
    line-height: 92px;
}

#header{
    background: #898d8e;
}

#banner{
    position: relative;
}

#banner .caption{
    position: absolute;
    bottom: 114px;
    right: 130px;
    z-index: 2;
}

#banner .caption h1{
    color: #fcf9f7;
    font-family: 'Baskervville', serif;
    font-size: 72px;
}

#banner .caption h2{
    color: #d7794a;
    font-size: 48px;
}

.menu{
    z-index: 15;
    position: relative;
}

.overlay_menu{
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    display: none;
    top: 0;
    left: 0;
}

.show_overlay{
    display: block;
}

#menu a{
    font-size: 20px;
    color: #e8e6e6;
    font-family: 'Open Sans', sans-serif;
}

#menu a:hover{
    color: #302f2f;
}

.menu-mobile{
    position: fixed;
    background: #5e5b5b;
    height: 1000px;
    width: 300px;
    z-index: 20;
    left: -300px;
    /*right: 0px;*/
    top: 0px;
    transition: .25s;
    padding-top: 30px;
}

.open-menu{
    /*left: -15px;*/
    left: 0px;
}

.fa-times-circle{
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.menu-mobile a{
    color: #FFFFFF;
    font-size: 20px;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 30px;
    transition: all 0.5s;
}

.owl-theme{
    position: relative;
}

.owl-theme .owl-dots{
    position: absolute;
    bottom: 10px;
    left: 650px ;
}

.owl-theme .item{
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#team-leader .title h1{
    font-size: 61.11px;
    font-family: 'Lora', serif;
    color: #a95e39;
}

#team-leader .title p{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

#team-leader .content img:hover{
    box-shadow: 0 15px 20px gray;
}

#team-leader .content h3{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

#team-leader .content p{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

#team-leader .content img{
    width: 270px;
}

#advantages{
    background: #1f3138;
}

#advantages .content h3{
    font-family: 'Gelasio', serif;
    font-size: 76.73px;
    color: #88553b;
}

#advantages .content span{
    font-family: 'Open Sans', sans-serif;
    font-size: 25.58px;
    color: #ffffff;
}

#contact-us{
    background: #2a3e47;
}

#contact-us .title h3{
    font-size: 66.26px;
    font-family: 'Lora', serif;
    color: #ffffff;
}

#contact-us .title p{
    font-size: 27.61px;
    font-family: 'Quattrocento Sans', sans-serif;
    color: #b8b8b8;
}

#contact-us .form input{
    border: 0px;
    background: #2a3e47;
    border-bottom: 1px solid #b5b6b7;
    color: #7c7f80;
}

#contact-us .form select{
    border: 0px;
    background: #2a3e47;
    border-bottom: 1px solid #b5b6b7;
    color: #7c7f80;
}

#contact-us .form textarea{
    border: 0px;
    background: #2a3e47;
    border-bottom: 1px solid #b5b6b7;
    color: #7c7f80;
    resize: none;
}

#contact-us .form button{
    width: 210px;
    height: 50px;
    border: 2px solid #623621;
    background: #89553b;
}

#contact-us .form input{
    position: relative;
}

#contact-us .form .error{
    position: absolute;
    right: 15px;
    bottom: 0;
    color: red
}

#about-us .image1{
    height: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-us .content .image2{
    height: 180px;
    position: relative;
}

#about-us .content{
    border: 2px solid #d2d3d7;
    font-family: 'Quattrocento Sans', sans-serif;
}

/*#about-us .content{*/
/*    position: relative;*/
/*}*/

#about-us .content .image2 div:before{
    content: ' ';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #cbcacc;
    position: absolute;
    top: 0px;
}

#about-us .content .image2 .first:before{
    left: 20px;
}

#about-us .content .image2 .second:before{
    left: 220px;
}

#about-us .content .image2 .third:before{
    right: 20px;
}

#about-us .content .image2 div:after{
    content: ' ';
    border: 2px solid #323648;
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 120px;
}

#about-us .content .image2 .first:after{
    content: 'FRIENDLY TEAM';
    left: 0px;
}

#about-us .content .image2 .second:after{
    content: 'INVOLVED';
    left: 200px;
}

#about-us .content .image2 .third:after{
    content: '24/7 ASSISTANCE';
    right: 0px;
}

#gallery h2{
    color: #a95e39;
}

#gallery p{
    font-size: 20px;
    color: #050505;
}

#footer .top{
    background: #1b2c33;
    color: #d2d3d7;
}

#footer .top a{
    color: #d2d3d7;
}

#footer .top i{
    float: left;
    height: 40px;
    line-height: 40px;
}

#footer .bottom{
    background: #000000;
    color: #cdcbcb;
}

#footer .bottom .connect a{
    border: 1px solid #ffffff;
    color: #FFFFFF;
    margin-left: 5px;
    padding: 5px;
}

#slide2 .owl-theme .owl-dots{
    position: absolute;
    bottom: 90px;
    left: 650px;
}

#slide2 .slide2 .owl-nav{
    height: 77px;
    background: #d6d6d6;
    margin-top: 0px;
    position: relative;
}

#slide2 .slide2 .owl-prev{
    position: absolute;
    top: 10px;
    left: 82px;
    color: #88543a;
    font-size: 25px;
    border: 1px solid;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: block;
}

#slide2 .slide2 .owl-next{
    position: absolute;
    top: 10px;
    right: 82px;
    color: #88543a;
    font-size: 25px;
    border: 1px solid;
    width: 53px;
    height: 53px;
    border-radius: 50%;
    display: block;
}

#slide2 .owl-nav button:hover{
    background: #88543a;
    border: 1px solid #88543a;
    color: #b9b2ae;
}

/*#slide2 .slide2 .owl-nav:before{*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    top: 12px;*/
/*    left: 60px;*/
/*    width: 53px;*/
/*    height: 53px;*/
/*    border: 2px solid #88543a;*/
/*    border-radius: 50%*/
/*}*/

/*#slide2 .slide2 .owl-nav:after{*/
/*    content: ' ';*/
/*    position: absolute;*/
/*    top: 12px;*/
/*    right: 60px;*/
/*    width: 53px;*/
/*    height: 53px;*/
/*    border: 2px solid #88543a;*/
/*    border-radius: 50%*/
/*}*/


